body {
    background-color: #a39cce;
    align-items: center;
}

h1 { color: rgb(207, 23, 23); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 275px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}